
.navbar{
	display: inline-block;
	padding-top: 20px;
}

.main-class{
	display: inline-block;
}


.facebook{
  	padding-right: 10px;
    border-right: 1.5px solid #3D58A6;
    margin-left: 20px;
} 

footer {
    margin-top: 30px;
}

nav li>a {
    font-size: 22px;
    line-height: 30px;
    color: #3D58A6;
    text-decoration: none;
}

.contact-section{
	background-color: #E6E6E6;

header>img{
	width: 100px;
	margin-left: 40px;
	margin-bottom: 30px;
	vertical-align: top;

}
.main{
	color:red;
}

h2{
	color:blue;
}
.contact-div ul li{
	padding: 5px;
}

.contact-div {
	display: inline-block;
	vertical-align: top;
}

.map{
	width: 500px;
	height: 500px;
}

.div-contact-1 {
	display: inline-block;
	vertical-align: top;
}


.logo,.li{
	vertical-align: middle;
}
.contact-div {
	display: inline-block;
	vertical-align:top;
	margin-left: 50px;

}


.map{
	width: 500px;
	height: 500px;
}




.youtube{
	width: 24px;
	height:30px;
	margin-left:10px;
	padding-left:30px;
}
.main-class{
	font-size: 22px;
}

  
/*  Jana  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
	padding: 30px;
}

main {
	padding: 10px;
	font-family: "Roboto", sans-serif;
}


/*main styles*/
.featured-media {
	margin: 20px 0;
	font-size: 24px;
}

.featured-span {
	border-right: 2px solid; 
	padding-right: 10px
}

.grey-bg-container {
	display: inline-block;
	vertical-align: middle;
	width: 570px;
	padding: 10px 20px;
	background-color: #F2F2F2;
 }

.left-box {
	margin-right: 50px;
}

.grey-bg-container a {
	margin-bottom: 10px;
	font-size: 22px;
	color: #3D58A6;
	text-transform: uppercase;
}

.grey-bg-container p{
	display: inline-block;
	vertical-align: top;
	width: 355px;
	margin: 0 17px;
	font-size: 20px;
	color: #333333;
}

.grey-bg-container img {
	display: inline-block;
	vertical-align: top;
	margin: 0 17px; 
}

.grey-bg-container div {
	margin: 10px 0 20px 0; 
}

.second-box {
	margin-top: 25px;
}

