.navbar{
	display: inline-block;
}

.main-class{
	display: inline-block;
}

.facebook{
  	padding-right: 10px;
    border-right: 1.5px solid #3D58A6;
    margin-left: 20px;
} 

footer {
    margin-top: 30px;
}

nav li>a {
    font-size: 22px;
    line-height: 30px;
    color: #3D58A6;
    text-decoration: none;
}

.contact-section{
	background-color: #E6E6E6;
	/*height: 570px;*/
}

header>img{
	width: 100px;
	margin-left: 40px;
	margin-bottom: 30px;
	vertical-align: top;

}
.main{
	color:red;
}

h2{
	color:blue;
}
.contact-div ul li{
	padding: 5px;
}

.contact-div {
	display: inline-block;
	vertical-align: middle;
}

.map{
	width: 500px;
	height: 500px;
}

.div-contact-1 {
	display: inline-block;
	vertical-align: middle;
}

.logo,li{
	vertical-align: middle;
}


/*.map{
	display: inline-block;
	position: absolute;
	right:2%;
}
.map{
	width: 50%;
	height: 450px;
	vertical-align: top;
}*/
.youtube{
	width: 24px;
	height:30px;
	margin-left:10px;
	padding-left:30px;
}


	
