@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.index-body {
	padding: 30px;
}

main {
	padding: 10px;
	font-family: "Roboto", sans-serif;
}

/* header styles */
header>img{
	width: 100px;
	margin-left: 40px;
	margin-bottom: 30px;
	vertical-align: top;

}

.navbar{
	display: inline-block;
	margin-bottom: 20px;
}

.main-class{
	display: inline-block;
	font-size: 22px;
}

nav li>a {
    font-size: 22px;
    line-height: 30px;
    color: #3D58A6;
    text-decoration: none;
}

.logo, li{
	vertical-align: middle;
	margin-right: 20px;
}

.main{
	color: #EE4036;
}

.contact-header, .contact-footer {
	padding: 10px 38px;
}

/*main styles*/
.featured-media {
	margin: 20px 0;
	font-size: 24px;
}

.featured-span {
	border-right: 2px solid; 
	padding-right: 10px
}

.grey-bg-container {
	display: inline-block;
	vertical-align: middle;
	width: 570px;
	padding: 10px 20px;
	background-color: #F2F2F2;
 }

.left-box {
	margin-right: 50px;
}

.grey-bg-container a {
	margin-bottom: 10px;
	font-size: 22px;
	color: #3D58A6;
	text-transform: uppercase;
}

.grey-bg-container p{
	display: inline-block;
	vertical-align: top;
	width: 355px;
	margin: 0 17px;
	font-size: 20px;
	color: #333333;
}

.grey-bg-container img {
	display: inline-block;
	vertical-align: top;
	margin: 0 17px; 
}

.grey-bg-container div {
	margin: 10px 0 20px 0; 
}

.second-box {
	margin-top: 25px;
}


/* Contact section styles */

.contact-section{
	background-color: #E6E6E6;
	padding: 30px;
}

.contact-title{
	color: #3D58A6;
	font-size: 20px;
}

.contact-div {
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.contact-div ul li{
	padding: 5px;
	font-size: 16px;
	color: #808080;
}

.contact-div span {
	color: black;
}

.map{
	width: 874px;
	height: 466px;
}

.div-contact-1 {
	display: inline-block;
	vertical-align: top;
}

.contact-div {
	display: inline-block;
	vertical-align:top;
	margin-left: 50px;

}

.map{
	width: 874px;
	height: 466px;
}



/* footer styles */
footer {
    margin-top: 30px;
}

.facebook{
    border-right: 1.5px solid #3D58A6;
    padding-right: 20px;
}

.youtube{
	margin-left:20px;
}